In [8]:
##### simple if condition
if 10%2 == 0:
    print ("even")
else:
    print("odd")

even

In [7]:
###### ternary operator means rearranging the if condition
print("even") if 9%2 == 0 else print("odd")

odd

In [18]:
####$ identity operator
a=10
b=10
c=20
print(a is b)
print(a is c)

True
False

In [22]:
##### Membership operator
l=[1,12.24,"hello","hi"]
print("hello" in l)
print("how" in l)

True
False

In [3]:
import math

In [4]:
math.sqrt(36)

6.0

In [5]:
math.factorial(4)  ###### 4*3*2*1

24

##### input and output statements

In [10]:
input("enter the employee id : ")  ### it returns always string

enter the employee id :  123

'123'

In [13]:
employee_id=int(input("enter the employee id : ") )

enter the employee id :  123

In [14]:
print(employee_id)

123

In [16]:
x= input("enter num1: ")
y= input("enter num2: ")
print(x+y)

enter num1:  1
enter num2:  2

12

In [17]:
x= int(input("enter num1: "))
y= int(input("enter num2: "))
print(x+y)

enter num1:  1
enter num2:  2

3

In [19]:
input("enter the numbers : ").split() ##### split will convert string datatype to list datatype

enter the numbers :  1 2

['1', '2']

In [24]:
"h+e+l+l+o".split('+')

['h', 'e', 'l', 'l', 'o']

##### eval function take a expression (string) and evaluate the results

In [29]:
x= eval("10+20+30")
y = eval("10+2*3/4")
print(x)
print(y)

60
11.5

##### Command line arguments

In [30]:
##### passing the arguments at time of execution
from sys import argv

In [31]:
l= [1,2,3,4]
l[0]

1

In [33]:
l[5]

IndexError: list index out of range

In [34]:
print ("HI\nRavi\nSuvarna")

HI
Ravi
Suvarna

In [36]:
a,b,c = 10,20,30
print("the values are:",a,b,c,sep=',')
print("the values are:",a,b,c,sep=':')

the values are:,10,20,30
the values are::10:20:30

In [40]:
print("Ravi",end=' ')
print("Suvi",end=' ')

Ravi Suvi

In [46]:
empid = 1234
name = "Ravi"
age=38
qual="btech"
print(empid,"hi i am",name, "my age is", age,"i have completed my",qual)
print("{0} hi i am {1} my age is {2} i have completed my {3}".format(empid,name,age,qual))
print("{0} hi i am {1} my age is {2} i have completed my {3}".format(name,empid,age,qual))
print("{e} hi i am {n} my age is {a} i have completed my {q}".format(e=empid,n=name,a=age,q=qual))

1234 hi i am Ravi my age is 38 i have completed my btech
1234 hi i am Ravi my age is 38 i have completed my btech
Ravi hi i am 1234 my age is 38 i have completed my btech
1234 hi i am Ravi my age is 38 i have completed my btech

In [3]:
I = ["apples","oranges","bananaas","mangoes"]
for i in I:
    print(i)

apples
oranges
bananaas
mangoes

In [5]:
name = input("enter the name : ")
if name == "sachin":
    print("welcome")
else:
    print("stop")

enter the name :  dhoni

stop

In [8]:
color = input ("enter the signal color")
if color == "red":
    print("stop te vehicles")
elif color == "green":
    print("move the vehicles")
else:
    print("slow down the vehicles")

enter the signal color green

move the vehicles

In [12]:
n1 = int(input("enter the 1st num"))
n2 = int(input("enter the 2nd num"))
if n1 > n2:
    print("the biggest num is :",n1)
else:
    print("the biggest num is :",n2)

enter the 1st num 5
enter the 2nd num 4

the biggest num is : 5

In [15]:
num = int(input("enter the number"))
if num % 2 == 0:
          print("the given number", num,"is even")
else:
    print("this given number", num, "is odd")

enter the number 11

this given number 11 is odd

##### Iterative statements

##### sequences : string, list, tupple, set, frozenset, dict

In [23]:
s = "visualpath"
for iterator in s:
    
    print(iterator)

v
i
s
u
a
l
p
a
t
h

In [25]:
l =[1,2,3,4,5]  ###### list
for i in l:
    print(i)

1
2
3
4
5

In [26]:
l ={1,2,3,4,5}  ##### set
for i in l:
    print(i)

1
2
3
4
5

In [27]:
l =(1,2,3,4,5) ##### tupple
for i in l:
    print(i)

1
2
3
4
5

In [40]:
d = {1:"apple",2:"ball",3:"cat"}
for j in d.items():
    print(j)

(1, 'apple')
(2, 'ball')
(3, 'cat')

In [41]:
d = {1:"apple",2:"ball",3:"cat"}
for j in d.values():
    print(j)

apple
ball
cat

In [42]:
d = {1:"apple",2:"ball",3:"cat"}
for j in d.keys():
    print(j)

1
2
3

In [43]:
d = {1:"apple",2:"ball",3:"cat"}
for j in d:
    print(j)

1
2
3

##### while loop

In [44]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [45]:
x = 0
while x<10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9

##### nested loop

In [49]:
for i in range(4):
    print("i=",i)

i= 0
i= 1
i= 2
i= 3

In [52]:
for i in range(4):
    print("i=",i)
    for j in range(4):
        print("j=",i)

i= 0
j= 0
j= 0
j= 0
j= 0
i= 1
j= 1
j= 1
j= 1
j= 1
i= 2
j= 2
j= 2
j= 2
j= 2
i= 3
j= 3
j= 3
j= 3
j= 3

In [54]:
n = int(input("enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=' ')
    print()

enter the number of rows:  5

*
* *
* * *
* * * *
* * * * *

In [56]:
n = int(input("enter number of rows:"))
for i in range(1,n+1):
    print("* " * i)

enter number of rows: 5

*
* *
* * *
* * * *
* * * * *

##### break

In [58]:
cart = [10,20,600,60,70]
for i in cart:
    if i > 500:
        print("costly product")
        break
    print(i)

10
20
costly product

##### Continue

In [60]:
cart = [10,20,600,60,70]
for i in cart:
    if i > 500:
        print("costly product")
        continue
    print(i)

10
20
costly product
60
70